
OPENAI_MOCK_MODE=True
REDIS_HOST=localhost
REDIS_PORT=6379

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your key"
LANGSMITH_PROJECT="your project name"

ANTHROPIC_API_KEY="your key"